.btn {
    width: 183px;
    height: 46px;
    border-radius: 10px;
    background-image: $gradient;
    border: none;

    color: #ffffff;
    font-family: "Nexa Black";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}