.btn {
    position: relative;
    width: 183px;
    height: 46px;
    border-radius: 10px;
    background-image: $gradient;
    border: none;

    color: #ffffff;
    font-family: "Nexa Black";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    &_white {
        box-shadow: 0 8px 35px rgba(0, 0, 0, 0.2);
        background: #fff;
        color: #c49d4e;
    }
    &_text-yellow {
        color: #edb214;
    }
    &_text-grey {
        color: #9a9a9a;
    }
    &_text-black {
        color: #000000;
    }
}