.subtitle { 
    @include gradient;
    font-size: 101px;
    font-weight: 800;
    line-height: 81.13px;
    text-align: left;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: -1.07px;
    &_fz29 {
        font-size: 29px;
        line-height: normal;
        letter-spacing: 1.82px;
    }
    &_fz31 {
        font-size: 31px;
        line-height: 31px;
    }
    &_fz35 {
        font-size: 35px;
        line-height: 27.8px;
    }
    &_fz41 {
        font-size: 41px;
        line-height: 47.3px;
    }
    &_fz65 {
        font-size: 65px;
        line-height: 50.91px;
        letter-spacing: -2.4px;
    }
    &_fz68 {
        font-size: 68px;
        line-height: 68px;
    }
    &_white {
        @include white;
    }
}